.vs/
/Kuro-DockLauncher2/bin
/kuro-Dock/bin
/kuro-Dock/bin/
/kuro-Dock/bin/*
/kuro-Dock/obj
/kuro-Dock/obj/
/kuro-Dock/obj/*
/Kuro-DockLauncher2/obj
/code.txt
/code.txt
/kuro-Dock/bin/Debug/net8.0-windows/kuro-Dock.dll
/kuro-Dock/bin/Debug/net8.0-windows/kuro-Dock.exe
/kuro-Dock/bin/Debug/net8.0-windows/kuro-Dock.pdb
/Kuro-DockFortress/obj
/Kuro_DockFortress/bin/Debug/net10.0-windows
/Kuro_DockFortress/obj
/Kuro_DockHex/bin/Debug/net10.0-windows
/Kuro_DockHex/obj
/Kuro-DockGenesis/bin/Debug/net10.0-windows
/Kuro-DockGenesis/obj
/Kuro-DockGrimoire/bin/Debug/net10.0-windows
/Kuro-DockGrimoire/obj
/Kuro-DockGrimoire/bin/Release/net10.0-windows
/Kuro-DockGrimoire/Properties/PublishProfiles
/Kuro-DockScroll/bin/Release/net10.0-windows/win-x64/native
/Kuro-DockScroll/bin/Release/net10.0-windows/win-x64/publish
/Kuro-DockScroll/bin/Release/net10.0-windows/win-x64
/Kuro-DockScroll/obj
/Kuro-DockGenesis/bin/Release/net10.0-windows
/Kuro-DockGenesis/Properties/PublishProfiles
/Kuro-DockThrone.Core/bin/Debug/net10.0-windows
/Kuro-DockThrone.Core/bin/Release/net10.0-windows
/Kuro-DockThrone.Core/obj
