.vs/
/Kuro-DockLauncher2/bin
/kuro-Dock/bin
/kuro-Dock/bin/
/kuro-Dock/bin/*
/kuro-Dock/obj
/kuro-Dock/obj/
/kuro-Dock/obj/*
/Kuro-DockLauncher2/obj
/code.txt
/code.txt
/kuro-Dock/bin/Debug/net8.0-windows/kuro-Dock.dll
/kuro-Dock/bin/Debug/net8.0-windows/kuro-Dock.exe
/kuro-Dock/bin/Debug/net8.0-windows/kuro-Dock.pdb
